In [1]:
import pandas as pd

In [3]:
l= [1,2,3,4,5]
var = pd.DataFrame(l)

In [4]:
var

   0
0  1
1  2
2  3
3  4
4  5

In [13]:
d = {"a": [1,2,3,4,5], "b":[2,3,4,5,6]}

#var= pd.DataFrame(d, columns=["a"])
var= pd.DataFrame(d)

In [14]:
var

   a  b
0  1  2
1  2  3
2  3  4
3  4  5
4  5  6

In [16]:
var["a"][3]

4